.nav {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.nav img {
  width: 70%;
  max-width: 100%;
}
.navbar-list {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar-list li {
  color: rgb(124, 117, 117);
  list-style: none;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0 1rem;
}
.navBtn {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem 2.5rem;
  color: rgb(124, 117, 117);
  border: none;
  border-radius: 0.7rem;
  cursor: pointer;
}
.navBtn:nth-child(1) {
  background-color: black;
  margin-right: 1rem;
}
.navBtn:nth-child(2) {
  background-color: #2b2beb;
  color: white;
}
.active {
  color: #2b2beb;
}


/* mobile responsive */
@media (max-width: 767px) {
  .nav {
    flex-direction: column;
    margin: 2rem 0;
    margin-right: auto;
    margin-left: auto;
  }

  .nav img {
    width: 12rem;
    margin-bottom: 1rem;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .navbar-list li {
    padding: 0.5rem 0;
    font-size: 1.5rem;
    text-align: center;
    margin: 0.5rem 0;
  }

  .navBtn {
    font-size: 1.5rem;
    padding: 0.8rem 1.5rem;
    margin-top: 1rem;
    /* margin-right: 1rem;  */
  }
}

/* tablet responsive */
@media (min-width: 768px) and (max-width: 991.98px) {
  .nav {
    /* margin: 2rem 0;  */
    margin-right: auto;
    margin-left: auto;
  }

  .nav img {
    width: 14rem;
  }

  .navbar-list {
    /* flex-direction: column;  */
    align-items: center;
  }

  .navbar-list li {
    padding: 0.5rem 1rem;
  }

  .navBtn {
    font-size: 1.6rem;
    padding: 0.8rem 1.5rem;
  }
}

/* large device responsie */
@media (max-width: 1199px) {
  .nav {
    padding: 1.5rem;
    margin-right: auto;
    margin-left: auto;
  }

  .navbar-list li {
    padding: 0 1rem;
  }

  .navBtn {
    padding: 1rem 2rem;
  }
}
