body {
  font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
  background-color: #000;
  /* margin: 0 3rem; */
  overflow-x: hidden;
}
html{
  overflow-x: hidden;
}
*{
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
